body{
    background: #ADD8E6;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
}
.logo{
    margin: 0px 0px 48px;
}
.signup{
    background: white;
    width: auto;
    padding: 40px 40px 48px;
    border-radius: 1.25rem 1.25rem 1.25rem 0rem;
}
h5{
    margin: 0px;
    text-align: center;
    font-weight: 700;
    font-family: 'U8', sans-serif;
    color: #083e9e;
    font-size: 24px;
}
p{
    margin: 0px;
    font-size: .875rem;
    color: #4a5568;
    text-align: center;
    font-family: 'Karla', sans-serif;
}
.header{
    margin: 0px 0px 32px;
    line-height: 1.5
}
label{
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: .25rem;
    font-weight: 700;
    font-family: 'U8', sans-serif;
    border: 0 solid #e2e8f0;
}
input{
    padding: 16px;
    color: #1a202c;
    border-radius: .25rem;
    background-color: #edf2f7;
    outline: 0;
    font-family: 'U8', sans-serif;
    font-size: 13px;
    border: none;
    width: 336px;
    margin-top: 4px;
    margin-bottom: 32px;
    overflow: visible;
}
option{
    font-family: 'U8', sans-serif; 
    color: #4a5568;
    background-color: #edf2f7;
}
select{
    padding: 16px;
    color: #4a5568;
    border-radius: .25rem;
    background-color: #edf2f7;
    outline: 0;
    font-family: inherit;
    font-size: 100%;
    border: none;
    width: 368px;
    margin-top: 4px;
    margin-bottom: 32px;
    overflow: visible;
}
select:hover{
    cursor: pointer;
}
button{
    background-color: rgb(8, 62, 158);
    color: #fff;
    text-align: center;
    padding: 20px 40px 16px;
    font-size: 14px;
    font-family: sans-serif;
    width: 368px;
    border: none;
    border-radius: .75rem .75rem .75rem 0rem;
}
.button{
    display: flex;
    justify-content: center;
}
button:hover{
    cursor: pointer;
    background-color: rgb(7, 50, 124);
}
.footer{
    margin: 32px 0px 0px;
    padding: 4px 20px;
}
.login{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}
.login:hover{
    cursor: pointer;
    color: #e6e8eb;
    overflow: visible;
}